{extend name="default/layout" /}

{block name="style"}

{/block}

{block name="nav"}
<nav class="sidebar-main">
    <ul class="nav nav-drawer">
        <li class="nav-item"> <a href="/index.html"><i class="mdi mdi-home-outline"></i> 综合数据</a> </li>
        <li class="nav-item"> <a href="/subscribe.html"><i class="mdi mdi-lan-pending"></i> 订阅管理</a> </li>
        <li class="nav-item"> <a href="/service.html"><i class="mdi mdi-wan"></i> 流量套餐</a> </li>
        <li class="nav-item"> <a href="/record.html"><i class="mdi mdi-file-document"></i> 购买记录</a> </li>
        <li class="nav-item active"> <a href="/download.html"><i class="mdi mdi-arrow-collapse-down"></i> 软件下载</a> </li>
    </ul>
</nav>
{/block}

{block name="body"}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><h4><strong>软件下载</strong></h4></div>
                <div class="card-body">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a data-toggle="tab" href="#windows-basic">Windows</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#mac-basic">Mac</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#linux-basic">Linux</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#android-basic">Android</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#ios-basic">IOS</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="windows-basic"></div>
                        <div class="tab-pane fade" id="mac-basic"></div>
                        <div class="tab-pane fade" id="linux-basic"></div>
                        <div class="tab-pane fade" id="android-basic"></div>
                        <div class="tab-pane fade" id="ios-basic"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="popup"}{/block}

{block name="script"}
<script type="text/javascript" src="/static/default/js/download.js"></script>
{/block}