{extend name="default/layout" /}

{block name="style"}{/block}

{block name="nav"}
<nav class="sidebar-main">
    <ul class="nav nav-drawer">
        <li class="nav-item active"> <a href="/index.html"><i class="mdi mdi-home-outline"></i> 综合数据</a> </li>
        <li class="nav-item"> <a href="/subscribe.html"><i class="mdi mdi-lan-pending"></i> 订阅管理</a> </li>
        <li class="nav-item"> <a href="/service.html"><i class="mdi mdi-wan"></i> 流量套餐</a> </li>
        <li class="nav-item"> <a href="/record.html"><i class="mdi mdi-file-document"></i> 购买记录</a> </li>
        <li class="nav-item"> <a href="/download.html"><i class="mdi mdi-arrow-collapse-down"></i> 软件下载</a> </li>
    </ul>
</nav>
{/block}

{block name="body"}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card bg-primary">
                <div class="card-body clearfix">
                    <div class="pull-right">
                        <p class="h6 text-white m-t-0">账户余额</p>
                        <p class="h3 text-white m-b-0 fa-1-5x" id="balance"></p>
                    </div>
                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-currency-cny fa-1-5x"></i></span> </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card bg-danger">
                <div class="card-body clearfix">
                    <div class="pull-right">
                        <p class="h6 text-white m-t-0">服务到期</p>
                        <p class="h3 text-white m-b-0 fa-1-5x" id="expire"></p>
                    </div>
                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-crown fa-1-5x"></i></span> </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card bg-success">
                <div class="card-body clearfix">
                    <div class="pull-right">
                        <p class="h6 text-white m-t-0">剩余流量</p>
                        <p class="h3 text-white m-b-0 fa-1-5x" id="surplus"></p>
                    </div>
                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-battery-charging-40 fa-1-5x"></i></span> </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card bg-purple">
                <div class="card-body clearfix">
                    <div class="pull-right">
                        <p class="h6 text-white m-t-0">邀请用户</p>
                        <p class="h3 text-white m-b-0 fa-1-5x" id="subordinates"></p>
                    </div>
                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account-multiple-plus fa-1-5x"></i></span> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>流量使用日志</h4>
                </div>
                <div class="card-body">
                    <canvas class="js-chartjs-bars"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>最新公告</h4>
                </div>
                <div class="card-body notice-box">
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="popup"}{/block}

{block name="script"}
<script type="text/javascript" src="/static/libs/js/Chart.js"></script>
<script type="text/javascript" src="/static/default/js/index.js"></script>
{/block}